:root {
    --title-tex-color: #212121;
    --accent-color: #2196f3;
    --text-color: #757575;
    --main-color: #ffffff;
    --bg-gradient:  linear-gradient(  rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4) )
  }