.heder {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }
  .heder__container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
  }
  .heder__logo{
    @media screen and (min-width: 768px){
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px){
      margin-right: 93px;
    }
  }
  .heder__web {
    color: var(--title-tex-color);
  }
  .navigation__list {
    display: flex;
    column-gap: 50px;
  }
  .navigation__item {
    display: none;
    @media screen and (min-width: 768px){
    position: relative;
    display: block;
    }
    
  }
  
  .navigation__link--current-studio.current::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 4px;
    left: 0px;
    
    background: #2196f3;
    border-radius: 2px;
    @media screen and (min-width: 768px){
      top: 52px;
    }
    @media screen and (min-width: 1200px){
      top: 47px;
    }
  }
  .navigation__link--current-studio.current{
    color: var(--accent-color);
  }
  .navigation__link--current-portfolio.current::after {
    content: "";
    position: absolute;
    width: 77px;
    height: 4px;
    left: 0px;
    top: 47px;
    background: #2196f3;
    border-radius: 2px;
  }
  .navigation__link--current-portfolio.current{
    color: var(--accent-color);
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-tex-color);
  }
  .connection {

    @media screen and (min-width: 768px){
      display: block;
      margin-left: 84px;
    }
    @media screen and (min-width: 1200px){
      display: flex;
      margin-left: auto;
    }
  }
  .connection__item{
    display: none;
    @media screen and (min-width: 768px){
      display: block;
    }
  }
  .connection__link {
    display: flex;
    gap: 10px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  .connection-tel{
    
    @media screen and (min-width: 768px){
      margin-left: 0;
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px){
      margin-left: 50px;
      margin-top: 0;
    }
    
  }
  .connection__icon {
    fill: currentColor;
    align-items: center;
    justify-content: center;
  }


  .menu-open-button{
    background-color: #ffffff;
    border: none;
    margin-left: auto;
    &:hover .menu-icon{
      fill: var(--accent-color);
    }
    @media screen and (min-width: 768px){
      display: none;
    }
  }
  .menu-mob{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    // flex-grow: 1;
    z-index: 1;
    >.containers{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // flex-grow: 1;
    }
  }
  
  .menu-mob-navigation__list{
    padding-top: 48px;
  }
  .menu-mob-navigation__item:not(:last-child){
    margin-bottom: 32px;
  }
  .menu-mob-navigation__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    &:hover,
    &:focus{
      color: var(--accent-color);
    }
  }
  .menu-mob-tel__link{
    display: block;
    margin-bottom: 32px;

   font-weight: 500;
   font-size: 34px;
   line-height: 40px;
   letter-spacing: 0.02em;
   color: #2196F3;
  }
  .menu-mob-mail__link{
    display: block;
    margin-bottom: 64px;

   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   letter-spacing: 0.02em;
   color: #757575;
  }
  .menu-mob-soc{
    display: flex;
    padding-bottom: 48px;

  }
  .menu-mob-link{
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 0.02em;
   color: #2196F3;


  }
  .menu-mob-link-not{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;

  }
  .menu-mob-link::after{
    content:"";
    height:22px;
    border-right:1px solid rgba(33, 33, 33, 0.2);
    margin: 10px;
    
   }
  .menu-icon{

  }

  .menu-close-button{
    background-color: var(--main-color);
    border: none;
    position: fixed;
    top: 10px;
    right: 15px;
    &:hover .close-icon,
    &:focus .close-icon{
      fill: #2196F3;
    }
  }