.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 1600px;
    margin: 0 auto;
  }
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--main-color);
  
    max-width: 696px;
    margin: 0 auto;
  }
  
  .hero__btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;

    &:hover,
    &:focus {
      color: black;
    }
  }
